API_PORT=8000
DOCKER_PLATFORM=linux/amd64
COLMAP_BINARY=colmap
COLMAP_WORKSPACE_ROOT=/app/workspace
COLMAP_IMAGES_ROOT=/app/workspace/images
COLMAP_OUTPUTS_ROOT=/app/workspace/runs
COLMAP_DEFAULT_CAMERA_MODEL=SIMPLE_RADIAL
COLMAP_DEFAULT_MATCHER=exhaustive
